.content-header {
  background-color: var(--grey);
  border-bottom: 1px solid var(--grey-light);
  padding: 16px;

  .dropdown {
    margin-left: 30px;
  }
}

.button-group {
  display: flex;

  .button {
    text-decoration: none;
    font-size: 14px;
    padding: 5px 16px;
    &:not(:last-child) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 0px;
    }
    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
