.button {
  text-decoration: none;
  align-items: center;
  background-color: var(--button);
  border-radius: 6px;
  border: 1px solid var(--grey-light);
  cursor: pointer;
  color: var(--text);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 3px 12px;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

  svg {
    margin-right: 4px;
    font-size: 16px;
  }

  &:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover-border);
  }

  &.active {
    background-color: var(--accent-emphasis);
    border-color: var(--accent-emphasis);
  }
}
